<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Homepage</title>
    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <header class="navbar">  
        <div class="navbar-left">  
            <a href="index" class="logo">  
                <img src="/img/Ksw.png" alt="KOSUNGWOON">  
                <span class="highlight">KO SUNG WOON</span>  
            </a>  
        </div>  
        <!-- 햄버거 메뉴 아이콘 추가 -->  
        <div class="menu-toggle">  
            <span></span>  

            <span></span>
              
            <span></span>  
        </div>  
        <nav class="navbar-center">  
            <ul class="menu">  
                <li><a href="https://kosw113.tistory.com" target="_blank">TSTORY</a></li>  
                <li><a href="https://github.com/sungwoonko" target="_blank">GITHUB</a></li>   
                <li><a href="/contact">CONTACT</a></li>  
                <li><a href="/contactList">CONTACTLIST</a></li>  
            </ul>  
        </nav>   
    </header> 

  

   