<%-include('layouts/header.ejs')%>  
    <!-- 메인 섹션 -->  
    <section class="hero-section">  
        <h1 class="main-title">  
        성장하는 개발자🌱, <span class="highlight">고성운</span>을<br>  
        응원해주세요  
        </h1>  
        <a href="/blog" class="install-button">더보기 ↓</a>    
        <div class="decoration">  
        <img src="/img/성운3.png" alt="Sungwoon" class="sungwoon-image">  
        <img src="/img/성운2.png" alt="Woon Symbol" class="woon-symbol">  
        </div>  
    </section>

    <section class="status-card">  
        <h2 class="status-title">  
        제가,<br> 다룰 줄 아는 프로그래밍 언어예요 👨🏿‍💻 
        </h2>
        <div class="logo-icons">  
            <button class="icon-button">  
                <img src="/img/html로고.png" alt="html">  
            </button>  
            <button class="icon-button">  
                <img src="/img/CSS로고.png" alt="css">  
            </button>
            <button class="icon-button">  
                <img src="/img/javascript로고.png" alt="javascript">  
            </button>
            <button class="icon-button">  
                <img src="/img/typescript.png" alt="typescript">  
            </button>
            <button class="icon-button">  
                <img src="/img/파이썬로고.png" alt="python">  
            </button>
            <button class="icon-button">  
                <img src="/img/자바로고.png" alt="java">  
            </button>
            <button class="icon-button">  
                <img src="/img/nodejs로고.png" alt="nodejs">  
            </button>
              
        </div>   
    </section>

    <section class="introduce-site">  
        <div class="text-container fade-up">  
            <h3 class="highlight-title">메타버스</h3>  
            <h1 class="main-title">  
                나를 보여주는<br/>  
                프로필 페이지  
            </h1>  
            <p class="description">  
                메타버스 웹개발 분반에서 <br/>  
                앞으로 더 많은 것들을 배울거예요! 
            </p>  
            </div>  
        
            <div class="site-container">  
            <!-- 첫 번째 박스 -->  
            <div class="site-box  slide-in-left">  
                <h4 class="site-title">  
                성운의 공부방 <br/>  
                매일 1 블로그 도전📝 
                </h4>
                <p class="site-link">  
                    <a href="https://kosw113.tistory.com" target="_blank">성공할 수 있을까요?</a>  
                </p>  
                
            </div>  
        
            <!-- 두 번째 박스 -->  
            <div class="site-box slide-in-right">  
                <h4 class="site-title ">  
                Github<br/>  
                매일 1 commit 도전💻  
                </h4>  
                <p class="site-link">  
                    <a href="https://github.com/sungwoonko" target="_blank">성공할 수 있을까요?</a>  
                </p>  
            </div>  
        </div>  
    </section>

    <section class="introduce-summary">  
        <!-- 상단 제목 및 설명 텍스트 -->  
        <div class="summary-header">  
          <img src="/img/인적사항.png" alt="인적사항" class="summary-icon">  
          <div class="summary-text">  
            <h3 class="summary-highlight">인적사항</h3>  
            <h1 class="summary-title">홍익대학교<br>소프트웨어융합학과</h1>  
            <p class="summary-description">4학년이 되기 싫지만 4학년이 되는<br>C089004 고성운입니다!</p>  
          </div>  
        </div>  
      
        <!-- 두 개의 정보 박스 -->  
        <div class="summary-boxes">  
          <!-- 왼쪽 박스 -->  
          <div class="summary-box">  
            <h4 class="box-title">공부할 땐<br>완벽해질 때까지 확실하게.🧐</h4>  
            <img src="/img/공부하는모습.png" alt="Subscription View" class="box-image">  
          </div>  
          <!-- 오른쪽 박스 -->      
          <div class="summary-box">  
            <h4 class="box-title">놀고 싶을 땐<br>지칠 때까지 확실하게.💀</h4>  
            <img src="/img/즐기는모습.png" alt="Detail View" class="box-image">  
          </div>  
        </div>  
      </section>

<%-include('layouts/footer.ejs')%>